* {
    border: none;
    border-radius: 0px;
    font-family: CaskaydiaCove Nerd Font;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    /* background: rgba(76,86,106,0.8); */
}

#clock, 
#pulseaudio, 
#network, 
#custom-launcher, 
#custom-pacmanAlt,
#cpu,
#memory,
#disk,
#cava,
#taskbar,
#workspaces,
#temperature,
#custom-wlogout,
#custom-wallchange,
#window
#custom-zscroll
#custom-waybar-scrolling-mpris
#custom-work1
#custom-work2
#custom-work3
#custom-work4
#custom-work5
#custom-work6
#custom-work7
#custom-work8
#custom-work9
#custom-work1.active
#custom-work2.active
#custom-work3.active
#custom-workspace_monitor
#custom-title

#cava{
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    background: #7dcfff;
    color: #414868;
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
}
#custom-zscroll{
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #c3e88d;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
#custom-waybar-scrolling-mpris{
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #c3e88d;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
#custom-pacmanAlt {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #c3e88d;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
#tray {
    background: #2e3440;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    padding: 0px 12px;
    /*border-right: solid 1px #282738;*/
}

#clock {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    color: #7dcfff;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
#network {
    background-color: #2e3440; 
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    color: #bb9af7;
    background: #1a1b26;
    opacity: 0.8;
}
#pulseaudio {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    color: #bb9af7;
    background: #1a1b26;
    opacity: 0.8;
}
#pulseaudio.muted {
    padding: 0px 25px 0 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    color: #ff007c;
    background: #1a1b26;
    opacity: 0.8;
}

#custom-launcher {
    padding: 0px 20px 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    color: #9ece6a;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 10px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
    padding: 0px 8px 0px 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    /*    color: #ffc777; */
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#custom-playerlabel {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #9ece6a;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#window {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 10px;
    color: #bb9af7;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#cpu {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #ff9e64;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#memory {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #7dcfff;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#disk {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #9ece6a;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#taskbar {
    background-color: #2BD2FF;
    background-image: linear-gradient(45deg, #b48ead 0%, #5e81ac 52%, #b48ead 90%);
    border-radius: 8px;
}

#taskbar button {
    border-radius: 2px 2px 2px 2px;
    padding: 0 0 0 1px;
    margin: 4px 4px;
    color: #ffffff;
    background-color: rgba(120,118,117,0.1);
}

#taskbar button.active {
    background-color: rgba(108, 122, 137, 1);
}
#temperature {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #ff9e64;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#temperature.critical {
  background-color: #a3be8c;
  color: #282738;
  border-radius: 10px;
}

#custom-wlogout {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #ff9e64;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#custom-wallchange {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #9ece6a;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}


#custom-work1,
#custom-work2,
#custom-work3 {
    padding: 0px 20px 0px 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 10px;
    color: #7dcfff;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

/* Highlight specific workspaces based on active class */
#custom-work1.active,
#custom-work2.active,
#custom-work3.active,
#custom-work4.active,
#custom-work5.active,
#custom-work6.active,
#custom-work7.active,
#custom-work8.active,
#custom-work9.active {
    background-color: #ff5722;
    color: #fff;
}

#custom-title {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 10px;
    color: #bb9af7;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
