layout {
    pane split_direction="vertical" {
        pane command="bpytop"
     }    
    pane split_direction="horizontal" {
        pane command="exa" {
            args "--icons" "-a"
            cwd "~/.config"
        }
    pane command="ranger" {
    args "/home/bluebyt/Pictures/"
       }
    }   
}
