* {
    border: none;
    border-radius: 0px;
    font-family: Roboto Mono SemiBold, Iosevka Nerd Font;
    font-size: 18px;
    font-style: normal;
    min-height: 0;
	}

window#waybar {
    background: rgba(76,86,106,0.8);
    color: #cdd6f4
}

#workspaces {
	background: #2e3440;
	margin: 5px 5px;
    padding: 8px 5px;
	border-radius: 16px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #d8dee9;
    background-color: #6f7787;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}
#workspaces button:hover {
	background-color: #cdd6f4;
	color: #cdd6f4;
	border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#clock, 
#pulseaudio, 
#network, 
#custom-launcher, 
#custom-pacmanAlt,
#cpu,
#memory,
#disk,
#cava,
#language,
#windows,

#cava{
    background-color: #2e3440;
    color: #a3be8c;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;      
}

#custom-pacmanAlt{
    background-color: #2e3440;
    color: #a3be8c;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;      
}

#tray {
    background: #2e3440;
    margin: 5px 5px 5px 5px;
    border-radius: 16px;
    padding: 0px 12px;
    /*border-right: solid 1px #282738;*/
}

#clock {
    color: #cdd6f4;
    background-color: #2e3440;
    border-radius: 0px 0px 0px 24px;
    padding-left: 13px;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}

#network {
    color: #cdd6f4;
    border-radius: 8px;
    margin-right: 5px;
    font-weight: bold;
}

#pulseaudio {
    color: #5e81ac;
    background: #2e3440;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-launcher {
    color: #cdd6f4;
    background-color: #2e3440;
    border-radius: 0px 24px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
	background: #2e3440;
    padding: 0px 5px 0px 10px;
	border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin: 5px 7px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#window {
    background: #2e3440;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#cpu {
    background-color: #2e3440;
    color: #bf616a;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    background-color: #2e3440;
    color: #b48ead;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#disk {
    background-color: #2e3440;
    color: #d08770;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#language {
    background-color: #2e3440;
    color: #a3be8c;
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

