* {
    border: none;
    border-radius: 0px;
    font-family: Roboto Mono SemiBold, Iosevka Nerd Font;
    font-size: 18px;
    font-style: normal;
    min-height: 0;
	}

window#waybar {
    background: rgba(76,86,106,0.8);
    color: #cdd6f4
}


#clock, 
#pulseaudio, 
#network, 
#custom-launcher, 
#custom-pacmanAlt,
#cpu,
#memory,
#disk,
#cava,
#taskbar,
#workspaces,
#temperature,
#custom-wlogout,
#custom-wallchange,

#cava{
    background-color: #2e3440;
    color: #a3be8c;
    border-radius: 10px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;     
}

#custom-pacmanAlt{
    background-color: #2e3440;
    color: #a3be8c;
    border-radius: 10px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;     
}

#tray {
    background: #2e3440;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    padding: 0px 12px;
    /*border-right: solid 1px #282738;*/
}

#clock {
    color: #cdd6f4;
    background-color: #2e3440;
    border-radius: 12px 12px 12px 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}

#network {
    background-color: #2e3440; 
    color: #B48EAD;
    border-radius: 10px;
}

#pulseaudio {
    color: #5e81ac;
    background: #2e3440;
    border-radius: 10px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-launcher {
    color: #cdd6f4;
    background-color: #2e3440;
    border-radius: 0px 24px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 10px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
	background: #2e3440;
    padding: 0px 5px 0px 10px;
	border-radius: 10px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin: 5px 7px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#window {
    background: #2e3440;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#cpu {
    background-color: #2e3440;
    color: #bf616a;
    border-radius: 10px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    background-color: #2e3440;
    color: #88c0d0;
    border-radius: 10px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#disk {
    background-color: #2e3440;
    color: #d08770;
    border-radius: 10px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#taskbar {
    background-color: #2BD2FF;
    background-image: linear-gradient(45deg, #b48ead 0%, #5e81ac 52%, #b48ead 90%);
    border-radius: 8px;
}

#taskbar button {
    border-radius: 2px 2px 2px 2px;
    padding: 0 0 0 1px;
    margin: 4px 4px;
    color: #ffffff;
    background-color: rgba(120,118,117,0.1);
}

#taskbar button.active {
    background-color: rgba(108, 122, 137, 1);
}
#temperature {
  background-color: #2e3440;
  color: #ebcb8b;
  border-radius: 10px;
}

#temperature.critical {
  background-color: #a3be8c;
  color: #282738;
  border-radius: 10px;
}

#custom-wlogout {
  background-color: #2e3440;
  color: #BF616A;
  border-radius: 10px;
}

#custom-wallchange {
  background-color: #2e3440;
  color: #B48EAD;
  border-radius: 10px;
}
