@define-color color_bg #2e3440;
@define-color color_bg_dark #292e39;
@define-color color_border #424242;
@define-color color_border_active #b48ead;
@define-color color_text #5e81ac;
@define-color color_urgent #bf616a;

.container {
  font-family: CaskaydiaCove Nerd Font;
/*  font-weight: bold; */
  font-size: 18px;
}

#cava {
  font-family: renogare;
}

.background {
  background-color: rgba(0, 0, 0, 0)
}

.wlogout {
  padding: 0px 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  border-radius: 10px;
  background: #c3e88d;
  color: #4c566a;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
/* cpu */
.sysinfo .item:nth-child(1) {
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 0px;
  border-radius: 10px;
  background:#ff9e64;
  color: #4c566a;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
/* memory */
.sysinfo .item:nth-child(2) {
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 0px;
  border-radius: 10px;
  background:#7dcfff;
  color: #4c566a;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
/* temp */
.sysinfo .item:nth-child(3) {
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 0px;
  border-radius: 10px;
  background:#bb9af7;
  color: #4c566a;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
/* disk */
.sysinfo .item:nth-child(4) {
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 8px;
  border-radius: 10px;
  background:#ffc777;
  color: #4c566a;
 /* border: 2px solid #24283b; */
 box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

.pacman {
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 10px;
  background: #c3e88d;
  color: #4c566a;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
.volume { 
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
  color:#4c566a;
  background:#9ABDF5;
}

.popup-volume {
 padding: 20px 20px 20px 20px;
  border-radius: 5px;
  color: #c0caf5;
 /* background: #1a1b26; */
  background-color: rgba(26,27,38,0.800);
  border: 2px solid #c3e88d;
}

.clock {
  font-family: CaskaydiaCove Nerd Font; 
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 3px;
  border-radius: 10px;
  background:#7dcfff;
  color: #4c566a;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

.clock_date {
  color: rgb(94,129,172);
}

.popup-clock {
  font-weight: bolder;
  background-color: rgba(26,27,38,0.800);
  border-radius: 10px;
  border: 2px solid #c3e88d;
}

.popup-clock .calendar-clock {
    color: #c0caf5;
  /*  font-size: 2.5em; */
    padding-bottom: 0.1em;
}

.popup-clock .calendar {
    background-color: rgba(26,27,38,0.800);
    color: #c0caf5;
    border-radius: 10px
}

.popup-clock .calendar .header {
    padding-top: 1em;
    border-top: 1px solid @color_border;
    font-size: 1.5em;
}

.popup-clock .calendar:selected {
    background-color: #3d59a1;
}

.focused { 
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 3px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
  color:#4c566a;
  background:#a9b1d6;
/* top right bottom left */
}

.work1,
.work2,
.work3 {
  padding: 0px 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 3px;
  border-radius: 10px;
  background: #c3e88d;
  color: #4c566a;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

.script {
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 5px;
  border-radius: 10px;
  background: #9ABDF5;
  color: #4c566a;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
  .music {
  border-radius: 10px;
  padding: 0px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 7px;
  margin-left: 10px;
  background: #9ABDF5;
  color: #4c566a;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}
  .popup-music {
  margin-left: 5px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  color: #c0caf5;
  background: #1a1b26;
  background-color: rgba(26,27,38,0.800);
  border: 2px solid #c3e88d;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}


.popup-music.volume {

}
 .popup-music .volume .slider {
   padding: 2px 2px 2px 2px;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-right: 5px;
   margin-left: 5px;
}
.popup-music .volume .icon {
}

.tray {
  color: rgb(84, 111, 175);
  font-size: 20px;
  padding: 0px 10px 0px 10px;
  margin: 10px 10px 10px 0px;
  background: rgb(238, 190, 190);
  background: linear-gradient(45deg, rgb(244, 219, 214) 0%, rgb(223, 221, 238) 43%, rgb(245, 208, 225) 100%);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
  border-radius: 16px;
}

.tray>.passive {
  -gtk-icon-effect: dim;
}

.tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f_nh {
	0% {
		background-position: 0% 200%;
	}
	100% {
		background-position: 200% 200%;
	}
}

tooltip.background {
  background-color: rgba(00, 00, 00, 0.5);
  font-size: 18px;
  border-radius: 10px;
  color: #FDFDFD;
}

tooltip * {
  padding: 4px;
  background-color: transparent;
  color: white;
}

.host tooltip {
  background-color: rgba(255, 00, 00, 0.5);
}



.workspaces { 

  border-radius: 15px;
  border-radius: 16px; 
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  background: #a3be8c;
  color: #4c566a;
} 
 

.workspaces .item {
  border: unset;
  background: #5e81ac;
  border-radius: 15px;
  margin: 10px 10px 15px 0px;
  padding: 5px 5px 5px 5px;
  color: #4c566a;
}


.workspaces .item.focused {
  padding: 5px 10px 5px 10px;
  border-radius: 16px;
  margin: 10px 10px 15px 0px;
  border: unset;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
  background: rgb(202, 158, 230);
  background: linear-gradient(45deg, rgba(202, 158, 230, 1) 0%, rgba(245, 194, 231, 1) 43%, rgba(180, 190, 254, 1) 80%, rgba(137, 180, 250, 1) 100%);
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
  color: #fff;
} 

